@import "tailwindcss";


*{
    box-sizing: border-box;
    font-family: outfit, sans-serif;
}
body {
  -webkit-user-select: none;  /* Chrome, Safari */
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* IE10+/Edge */
  user-select: none;          /* Standard */
}
html, body {
  height: 100%;
  margin: 0; /* Remove default margins */
  overflow: auto; /* Allow scrolling */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

#root {
  min-height: 100%; /* Allow #root to grow with content */
}


 @keyframes scroll {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-50%);
      }
    }
    .marquee {
      animation: scroll 60s linear infinite;
    }